RESEND_API_KEY=cole_sua_chave_aqui
ALERT_FROM=Agenda Airbnb <onboarding@resend.dev>
ALERT_RECIPIENTS=email_1@exemplo.com,email_2@exemplo.com
ADMIN_LOGIN=defina_o_login
ADMIN_PASSWORD=defina_uma_senha_segura
